name: class_manager
description: A new Flutter project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  intl: ^0.16.1
  fluttertoast: ^7.1.6
  flutter_svg: ^0.19.0
  flutter_icons: ^1.1.0
  firebase_core: ^0.5.3
  cupertino_icons: ^0.1.3
  firebase_auth: ^0.18.4+1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/
