/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* CSS Variables */
:root {
  --header-height: 3.5rem;

  /* Colors */
  --body-color: #191e26;
  --text-color: #fff;
  --title-color: #6464ff;

  /* Fonts */
  --body-font: "Raleway", sans-serif;
  --title-font: "Raleway", serif;
  --subtitle-font: "Raleway";
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

::selection {
  color: #000;
  background-color: var(--title-color);
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* Reusable CSS Clases */
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden;
}

/* Header */
.friday__logo {
  width: 39px;
  height: 39px;
  border-radius: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  height: var(--header-height);
  z-index: var(--z-fixed);
  transition: all 0.3s;
}

.nav {
  position: relative;
  height: var(--header-height);
  background-color: var(--body-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  color: var(--text-color);
}

.nav__logo {
  align-items: center;
  column-gap: 0.5rem;
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo:hover {
  color: var(--title-color);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 0.3rem;
}

.change-theme {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s;
}

.change-theme:hover {
  color: #6464ff;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: transparent;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(55px);
    transition: top 0.4s;
    padding-block: 3.5rem;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-medium);
  transition: color 0.4s;
  font-family: var(--subtitle-font);
  font-size: var(--h2-font-size);
  letter-spacing: 3px;
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

/* Home Section */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home__img {
  height: auto;
  width: 300px;
  border-radius: 10px;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.home__title span {
  color: var(--title-color);
}

.home__description {
  margin-inline: 1.5rem;
  margin-top: 10px;
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
}

.source_code {
  background: #6464ff;
  outline: none;
  color: var(--text-color);
  border: none;
  padding: 12px 22px;
  border-radius: 20px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.source_code:hover {
  box-shadow: 1px 3px 20px #6464ff;
}

.download {
  background: transparent;
  outline: none;
  color: var(--text-color);
  border: 2px solid #6464ff;
  padding: 12px 22px;
  border-radius: 20px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.download:hover {
  background-color: #6464ff;
}

/* Screenshots Section */
.screenshots__title {
  color: #6464ff;
  font-size: 2.5rem;
  font-family: var(--title-color);
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 60px;
}

.screenshots__section {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  place-items: center;
}

.screenshots__section i {
  font-size: 30px;
}

.screenshots__images {
  height: 550px;
  width: 250px;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}

/* About Section */
.about__title {
  color: #6464ff;
  font-size: 2rem;
  font-family: var(--body-font);
  font-weight: 900;
  letter-spacing: 3px;
}

.about__description {
  text-align: center;
  margin-inline: 1.5rem;
}

/* FAQs Section */
.faqs__title {
  color: #6464ff;
  font-weight: 800;
  font-family: var(--body-font);
  letter-spacing: 3px;
  margin-inline: 0.5rem;
}

.faqs__section {
  display: grid;
  gap: 2rem;
}

.all_faqs {
  margin-inline: 2rem;
  background-color: #8379a0;
  padding: 17px;
  border-radius: 10px;
  transition: all 1s;
}

.all_faq_ques p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--title-font);
  letter-spacing: 3px;
  cursor: pointer;
}

.all_faq_ques i {
  font-size: 24px;
  transition: all 1s;
}

.all_faq_ans {
  max-height: 0;
  overflow: hidden;
}

.all_faqs.active .all_faq_ans {
  max-height: 500px;
  transition: all 1s;
  margin-top: 20px;
}

/* Contact Section */
.contact__title {
  color: var(--title-color);
  font-weight: 800;
  font-family: var(--body-font);
  letter-spacing: 3px;
  margin-inline: 0.5rem;
}

.contact_me {
  background-color: var(--title-color);
  text-align: center;
  position: relative;
  left: 15%;
  width: 70%;
  padding: 25px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: 2px;
}

.contact__links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.contact__links a {
  color: var(--text-color);
  font-size: 20px;
  transition: all 0.3s;
}

.contact__links a:hover {
  color: var(--body-color);
}

/* Media Querries */
/* For PC */
@media screen and (min-width: 769px) {
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header {
    display: flex;
    height: var(--header-height);
    justify-content: space-around;
  }

  .home {
    margin-inline: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home__img {
    height: 100%;
    width: 400px;
    border-radius: 10px;
  }

  .home__title {
    font-size: 60px;
  }

  .screenshots__section {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .screenshots__images {
    height: 600px;
    width: 300px;
  }

  .about__title {
    font-size: 2.5rem;
  }

  .about__description {
    margin-inline: 5.5rem;
  }

  .all_faqs {
    margin-inline: 6rem;
  }

  .all_faq_ques {
    font-size: 25px;
  }

  .contact_me {
    width: 30%;
    position: relative;
    left: 35%;
  }

  .contact__title__me {
    font-size: 30px;
  }

  .contact__subtitle__me {
    font-size: 17px;
  }

  .contact__links a {
    font-size: 30px;
  }
}

/* For Tab */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .nav__link {
    font-size: 26px;
  }

  .home__img {
    height: 550px;
    width: 50%;
  }

  .home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
  }

  .home__data {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.75rem;
  }

  .screenshots__section {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .screenshots__images {
    width: 300px;
    height: 600px;
  }

  .about__description {
    margin-inline: 3rem;
  }

  .all_faqs {
    margin-inline: 3rem;
  }

  .section__title {
    font-size: 40px;
  }

  .contact_me {
    width: 40%;
    position: relative;
    left: 29%;
  }
}

/* Light Mode */
.light-mode {
  --body-color: #edebf1;
  --text-color: #000;
  --title-color: #6464ff;
}
