<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045472240686-nlbmr04bf5iq3c2r6qqiagu9s8i54pfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045472240686-nlbmr04bf5iq3c2r6qqiagu9s8i54pfm</string>
	<key>API_KEY</key>
	<string>AIzaSyCQzb8FYxi0tSHoK4YQa63ZcLAwzomyAy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1045472240686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Automation</string>
	<key>PROJECT_ID</key>
	<string>friday-683ad</string>
	<key>STORAGE_BUCKET</key>
	<string>friday-683ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045472240686:ios:8029da3d7f8b62f98febbf</string>
</dict>
</plist>